<html>
  <head>
    <title>{{ apache.page.title }}</title>
  </head>
  <body>
    <h1>{{ apache.page.title }}</h1>
    <p>{{ apache.page.message }}</p>
    {% if apache.show_host %}
    <p>Serveur: {{ inventory_hostname }}</p>
    {% endif %}

    <h2>Utilisateurs autorisés</h2>
    <p>Nombre d'utilisateurs autorisés: {{ apache.allowed_users | default([]) | length }}</p>
    <ul>
    {% for user in apache.allowed_users | default([]) %}
      <li>{{ user }}</li>
    {% endfor %}
    </ul>
  </body>
</html>
